# Copyright (c) 2025, Personal Robotics Laboratory
# License: BSD 3-Clause. See LICENSE.md file in root directory.

complementary_orientation_publisher:
  ros__parameters:
    gain_acc: 0.1
    gain_mag: 0.01
    bias_alpha: 0.05
    do_bias_estimation: true
    do_adaptive_gain: true
    use_mag: false
    fixed_frame: "atool_imu_frame"
    publish_tf: false
    reverse_tf: false
    constant_dt: 0.0
    publish_debug_topics: false

    qos_overrides:
      /imu/data_raw:
        subscription:
          depth: 10
          durability: volatile
          history: keep_last
          reliability: reliable

      /imu/mag:
        subscription:
          depth: 10
          durability: volatile
          history: keep_last
          reliability: reliable
