<?xml version="1.0"?>
<robot name="articutool" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find articutool_description)/urdf/articutool_new.xacro" />
  <xacro:include filename="$(find articutool_description)/urdf/articutool.ros2_control.xacro" />

  <link name="world"/>

  <xacro:articutool parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:articutool>

  <xacro:articutool_ros2_control name="articutool_ros2_control" />
</robot>
