<?xml version="1.0"?>
<robot
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
  xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
  xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
  xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
  xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
  xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
>
  <xacro:property
    name="default_color"
    value="0.4 0.4 0.4 1"
  />
  <xacro:property
    name="default_value"
    value="1234567890"
  />
  <xacro:property
    name="J_PI"
    value="3.1415926535897931"
  />
  <xacro:property name="default_inertial">
    <inertia
      ixx="0.000005"
      iyy="0.000005"
      iyz="0"
      izz="0.000005"
      ixy="0"
      ixz="0"
    />
  </xacro:property>
  <xacro:property
    name="scale"
    value="0.001"
  />

  <xacro:macro
    name="articutool_link"
    params="link_name link_mesh mass:=0 cog:='0 0 0' *inertia"
  >
    <link name="${link_name}">
      <visual>
        <geometry>
          <mesh
            filename="package://articutool_description/meshes/${link_mesh}.stl"
            scale="${scale} ${scale} ${scale}"
          />
        </geometry>
        <material name="abs">
          <color rgba="${default_color}"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh
            filename="package://articutool_description/meshes/${link_mesh}.stl"
            scale="${scale} ${scale} ${scale}"
          />
        </geometry>
      </collision>
      <inertial>
        <origin
          xyz="${cog}"
          rpy="0 0 0"
        />
        <mass value="${mass}"/>
        <xacro:insert_block name="inertia"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro
    name="articutool_joint"
    params="joint_name type parent child joint_axis_xyz joint_origin_xyz joint_origin_rpy joint_lower_limit:=${default_value} joint_upper_limit:=${default_value} joint_velocity_limit:=${default_value} joint_torque_limit:=${default_value} create_mimic:=false mimic_parent:=${base_parent}"
  >
    <joint
      name="${joint_name}"
      type="${type}"
    >
      <parent link="${parent}"/>
      <child link="${child}"/>
      <axis xyz="${joint_axis_xyz}"/>
      <xacro:if value="${type == 'revolute'}">
        <limit
          effort="${joint_torque_limit}"
          velocity="${joint_velocity_limit}"
          lower="${joint_lower_limit}"
          upper="${joint_upper_limit}"
        />
      </xacro:if>
      <xacro:if value="${type == 'continuous'}">
        <limit
          effort="${joint_torque_limit}"
          velocity="${joint_velocity_limit}"
        />
      </xacro:if>
      <origin
        xyz="${joint_origin_xyz}"
        rpy="${joint_origin_rpy}"
      />
      <dynamics
        damping="0.0"
        friction="0.0"
      />
      <xacro:if value="${create_mimic}">
        <mimic joint="${mimic_parent}"/>
      </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro
    name="articutool"
    params="base_parent end_effector_tool joint_origin_xyz:='0 0 0' joint_origin_rpy:='0 0 0' dummy:='false'"
  >
    <xacro:property
      name="xyz_list"
      value="${joint_origin_xyz.split(' ')}"
    />
    <xacro:property
      name="scaled_xyz_x"
      value="${scale * float(xyz_list[0])}"
    />
    <xacro:property
      name="scaled_xyz_y"
      value="${scale * float(xyz_list[1])}"
    />
    <xacro:property
      name="scaled_xyz_z"
      value="${scale * float(xyz_list[2])}"
    />
    <xacro:articutool_link
      link_name="atool_handle"
      link_mesh="handle_kg2"
      mass="0.028"
      cog="0 0 0"
    >
      <inertia
        ixx="0.00003114"
        iyy="0.000011867"
        iyz="0.00000054005"
        izz="0.000038478"
        ixy="-0.00000050626"
        ixz="0.000000082271"
      />
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="atool_root_to_handle"
      type="fixed"
      parent="${base_parent}"
      child="atool_handle"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="${scaled_xyz_x} ${scaled_xyz_y} ${scaled_xyz_z}"
      joint_origin_rpy="${joint_origin_rpy}"
    />
    <link name="atool_imu_frame"/>
    <joint
      name="atool_handle_to_imu_frame"
      type="fixed"
    >
      <parent link="atool_handle"/>
      <child link="atool_imu_frame"/>
      <origin
        xyz="0 0 0"
        rpy="0 ${-J_PI/2} ${-J_PI}"
      />
    </joint>
    <xacro:articutool_link
      link_name="atool_electronics_holder"
      link_mesh="electronics_holder"
      mass="0.0907185"
      cog="0.0 0.0 0.0"
    >
      <xacro:insert_block name="default_inertial"/>
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="atool_handle_to_electronics_holder"
      type="fixed"
      parent="atool_handle"
      child="atool_electronics_holder"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="${scale * -15} 0 0"
      joint_origin_rpy="0 ${-J_PI/2} ${J_PI}"
    />
    <xacro:articutool_link
      link_name="atool_base"
      link_mesh="fr12_h103"
      mass="0.0907185"
      cog="0.0 0.0 0.0"
    >
      <xacro:insert_block name="default_inertial"/>
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="atool_handle_to_base"
      type="fixed"
      parent="atool_handle"
      child="atool_base"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="0 0 ${scale * 76.472}"
      joint_origin_rpy="0 0 0"
    />
    <xacro:articutool_link
      link_name="atool_link1"
      link_mesh="motor_xc430"
      mass="0.065"
      cog="0.21641853 -14.751192 -16.796092"
    >
      <inertia
        ixx="18680.931"
        iyy="9585.9138"
        iyz="-845.46678"
        izz="17346.641"
        ixy="1.3348619"
        ixz="-45.354028"
      />
    </xacro:articutool_link>
    <link name="atool_joint1_terminator_link"/>
    <xacro:if value="${dummy}">
      <xacro:articutool_joint
        joint_name="atool_joint1"
        type="revolute"
        parent="atool_base"
        child="atool_joint1_terminator_link"
        joint_axis_xyz="0 0 -1"
        joint_origin_xyz="0 0 ${scale * 55}"
        joint_origin_rpy="${-J_PI/2} 0 0"
        joint_lower_limit="${-J_PI/2}"
        joint_upper_limit="${J_PI/2}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
      />
      <xacro:articutool_joint
        joint_name="atool_joint1_mimic"
        type="revolute"
        parent="atool_base"
        child="atool_link1"
        joint_axis_xyz="0 0 -1"
        joint_origin_xyz="0 0 ${scale * 55}"
        joint_origin_rpy="${-J_PI/2} 0 0"
        joint_lower_limit="${-J_PI/2}"
        joint_upper_limit="${J_PI/2}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
        create_mimic="true"
        mimic_parent="atool_joint1"
      />
    </xacro:if>
    <xacro:unless value="${dummy}">
      <xacro:articutool_joint
        joint_name="atool_joint1"
        type="revolute"
        parent="atool_base"
        child="atool_link1"
        joint_axis_xyz="0 0 -1"
        joint_origin_xyz="0 0 ${scale * 55}"
        joint_origin_rpy="${-J_PI/2} 0 0"
        joint_lower_limit="${-J_PI/2}"
        joint_upper_limit="${J_PI/2}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
      />
      <xacro:articutool_joint
        joint_name="atool_joint1_mimic"
        type="revolute"
        parent="atool_base"
        child="atool_joint1_terminator_link"
        joint_axis_xyz="0 0 -1"
        joint_origin_xyz="0 0 ${scale * 55}"
        joint_origin_rpy="${-J_PI/2} 0 0"
        joint_lower_limit="${-J_PI/2}"
        joint_upper_limit="${J_PI/2}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
        create_mimic="true"
        mimic_parent="atool_joint1"
      />
    </xacro:unless>
    <xacro:articutool_link
      link_name="atool_motor_link"
      link_mesh="fr12_s101"
      mass="0.0453592"
      cog="0 0 0"
    >
      <xacro:insert_block name="default_inertial"/>
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="atool_link1_to_motor_link"
      type="fixed"
      parent="atool_link1"
      child="atool_motor_link"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="0 0 0"
      joint_origin_rpy="${J_PI/2} ${J_PI/2} 0"
    />
    <xacro:articutool_link
      link_name="atool_link2"
      link_mesh="motor_xc430"
      mass="0.065"
      cog="0.21641853 -14.751192 -16.796092"
    >
      <inertia
        ixx="18680.931"
        iyy="9585.9138"
        iyz="-845.46678"
        izz="17346.641"
        ixy="1.3348619"
        ixz="-45.354028"
      />
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="atool_link1_to_link2"
      type="fixed"
      parent="atool_link1"
      child="atool_link2"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="0 ${scale * -38.25} 0"
      joint_origin_rpy="${J_PI/2} 0 0"
    />
    <xacro:articutool_link
      link_name="atool_ft_adapter"
      link_mesh="motor_xc430_to_ft_nano25_adapter"
      mass="0.001"
      cog="0 0 0"
    >
      <xacro:insert_block name="default_inertial"/>
    </xacro:articutool_link>
    <link name="atool_joint2_terminator_link"/>
    <xacro:if value="${dummy}">
      <xacro:articutool_joint
        joint_name="atool_joint2"
        type="revolute"
        parent="atool_link2"
        child="atool_joint2_terminator_link"
        joint_axis_xyz="0 0 1"
        joint_origin_xyz="0 0 ${scale * 19}"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="${-J_PI}"
        joint_upper_limit="${J_PI}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
      />
      <xacro:articutool_joint
        joint_name="atool_joint2_mimic"
        type="revolute"
        parent="atool_link2"
        child="atool_ft_adapter"
        joint_axis_xyz="0 0 1"
        joint_origin_xyz="0 0 ${scale * 19}"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="${-J_PI}"
        joint_upper_limit="${J_PI}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
        create_mimic="true"
        mimic_parent="atool_joint2"
      />
    </xacro:if>
    <xacro:unless value="${dummy}">
      <xacro:articutool_joint
        joint_name="atool_joint2"
        type="revolute"
        parent="atool_link2"
        child="atool_ft_adapter"
        joint_axis_xyz="0 0 1"
        joint_origin_xyz="0 0 ${scale * 19}"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="${-J_PI}"
        joint_upper_limit="${J_PI}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
      />
      <xacro:articutool_joint
        joint_name="atool_joint2_mimic"
        type="revolute"
        parent="atool_link2"
        child="atool_joint2_terminator_link"
        joint_axis_xyz="0 0 1"
        joint_origin_xyz="0 0 ${scale * 19}"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="${-J_PI}"
        joint_upper_limit="${J_PI}"
        joint_velocity_limit="1"
        joint_torque_limit="1.4"
        create_mimic="true"
        mimic_parent="atool_joint2"
      />
    </xacro:unless>
    <xacro:articutool_link
      link_name="ft"
      link_mesh="ft_nano25"
      mass="0.0634"
      cog="0 0 0"
    >
      <inertia
        ixx="0.000005235822"
        iyy="0.000006264852"
        iyz="-0.00000004033694"
        izz="0.00000640797"
        ixy="-0.0000003129932"
        ixz="0.000000013798"
      />
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="atool_ft_adapter_to_ft"
      type="fixed"
      parent="atool_ft_adapter"
      child="ft"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="0 0 ${scale * 11}"
      joint_origin_rpy="0 0 0"
    />
    <xacro:articutool_link
      link_name="tool"
      link_mesh="${end_effector_tool}_tool"
      mass="0.024"
      cog="0 0 0"
    >
      <inertia
        ixx="0.0000098769"
        iyy="0.000009848103"
        iyz="0.00000057639"
        izz="0.0000015674"
        ixy="0.000000000806182"
        ixz="-0.00000000296036"
      />
    </xacro:articutool_link>
    <xacro:articutool_joint
      joint_name="tool_to_ft"
      type="fixed"
      parent="ft"
      child="tool"
      joint_axis_xyz="0 0 1"
      joint_origin_xyz="0 0 ${scale * 21.6}"
      joint_origin_rpy="0 0 0"
    />
    <link name="tool_tip"/>
    <joint
      name="tool_tip_to_tool"
      type="fixed"
    >
      <child link="tool_tip"/>
      <parent link="tool"/>
      <origin
        rpy="0 0 ${-J_PI/2}"
        xyz="${scale * 7} 0 ${scale * 70}"
      />
    </joint>
  </xacro:macro>
</robot>
