<?xml version="1.0"?>
<robot
  name="articutool"
  xmlns:xacro="http://ros.org/wiki/xacro"
>
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
  <xacro:arg name="sim" default="real" />
  <xacro:arg
    name="end_effector_tool"
    default="fork"
  />
  <xacro:arg name="u2d2_port" default="/dev/u2d2" />
  <xacro:include filename="$(find articutool_description)/urdf/articutool.xacro"/>
  <xacro:include filename="articutool.ros2_control.xacro"/>

  <xacro:property
    name="end_effector_tool"
    value="$(arg end_effector_tool)"
  />
  <xacro:articutool end_effector_tool="${end_effector_tool}"/>

  <xacro:articutool_ros2_control name="articutool_ros2_control" initial_positions_file="$(arg initial_positions_file)" sim="$(arg sim)" u2d2_port="$(arg u2d2_port)"/>
</robot>
